{%extends '../index/index.html'%}
{%load static%}
{%block banner%}
{%endblock%}
{%block content%}
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
        </tr>
    </thead>
    <tbody>
        {%if student%}
        <img class="user" src={%static 'img/user.png'%} alt="icon">

            <tr>
                <th scope="row">{{counter}}</th>
                <td>{{student.name}}</td>
                <td>{{student.last_name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.age}}</td>
            </tr> 
            
        {%endif%}
    </tbody>
</table>
{%if classes%}
<ul class="cls">
    {%for class in classes%}
    <li class="classes" id="_{{class.id}}">
        <a href="http://localhost:8000/classes/class/{{class.id}}"><div class="_{{class.id}}">
            <p>{{class.name}}</p>
        </div></a>
    </li>
    {%endfor%}
</ul>
{%endif%}
{%endblock%}