{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href={%static 'css/main.css'%}>
    <title>Index</title>
</head>
<body>
    <header>
        {%block navbar%}
        <div class="nav ">
            <nav class="navbar navbar-dark bg-dark">
                <img class = "brand " src={%static 'img/logoGit.png'%}  alt="icon">
                <div class="collapse navbar-collapse ">
                    <ul >
                        <li class="nav-item"><a class="" href="http://localhost:8000/">Home</a></li>
                        <li class="nav-item"><a href="http://localhost:8000/students">Students</a></li>
                        <li class="nav-item"><a href="http://localhost:8000/classes">Courses</a></li>
                        <li class="nav-item"><span>|</span></li>
                        <li class="nav-item"><a class="btn btn-primary" href="#"> Login</a></li>
                    </ul>
                    
                </div>
                <form class="form-inline ">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
        {%endblock%}
        {%block banner%}
        <div class="banner">
            <div class="container-envelope">
                <h1>Fórmate online como profesional en tecnología</h1>
                <a target="_blank" href="http://localhost:8000/classes" class="btn btn-success">Ve nuestros cursos</a>
            </div>
        </div>
        {%endblock%}
    </header>
    
    <div class="container">
        {%block content%}
        {%endblock%}
    </div>

    <footer class="footer">
        <p>Guadalajara Institute of Technology &copy; 2020</p>
    </footer>

    
</body>
</html>